/*
////////////////COLOURS////////////////
---Dark Grey---
222629

---Grey---
474B4F

---Light Grey---
D1D7E0

---Purple---
802BB1

---Tinted Purple---
564F6F
*/

/*//////////////////////////////////////////////////////*/
/*///////////Global stylization of objects//////////////*/
/*//////////////////////////////////////////////////////*/

/*//////////////////font-size variables/////////////////*/
:root{
--bodyText: max(0.8vw, 24px);
--h1: max(2.3vw, 96px);
--h2: max(1.9vw, 64px);
--h3: max(1.5vw, 52px);
--h4: max(1.2vw, 44px);
--h5: max(1vw, 32px);
--h6: max(0.8vw, 28px);
}

body{
    margin: 0;
	padding: 0;
	font-size: var(--bodyText);
	color: #D1D7E0;
}

/*//////////////////Headings/////////////////*/
h1{
	font-size: var(--h1);
}

h2{
	font-size: var(--h2);
}

h3{
	font-size: var(--h3);
}

h4{
	font-size: var(--h4);  
}

h5{
	font-size: var(--h5);
}

h6{
	font-size: var(--h6);  
}

/*/////////////Links//////////////*/
a{
	text-decoration: none;
}

a:link{
	text-decoration: none;
}
  
a:visited{
	color: #D1D7E0;
}
  
/*//////////////Footer//////////////*/
footer{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	height: 8vh;
	padding: 0 5vw 0 40vw;
	background-color: #564F6F;
	font-size: max(0.6vw, 12px);
	text-align: right;
}

/*//////////////////////////////////////*/
/*///////////Landing Page///////////////*/
/*//////////////////////////////////////*/
.home_container a{
	padding: 1vw 4vw;
	background-color: #802BB1;
	border-radius: 25px;
	color: #D1D7E0;
}

.home_header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #564F6F;
}

	.home_header img{
		width: 20vw;
		height: 20vw;
		border-radius: 14%;
	}

.home_nav{
	margin-top: 20vh;
	margin-bottom: 5vh;
}

	.home_nav a{
		background-color: initial;
		border-radius: 0px;
		padding: 0;
		margin: 1vh 4vw;
		font-size: var(--h3);
	}

	.home_nav a:hover{
		text-decoration: underline;
	}

.introduction_article{
	display: flex;
	height: 100vh;
	padding: 5vh 15vh;
	background-color: #222629;
}

	.introduction_article img{
		width: 35vw;
		margin-left: 5vw;
	}

.library_links{
	display: flex;
	flex-flow: wrap;
	align-items: center;
	align-content: space-around;
	margin-left: 10vw;
	text-align: center;
}

	.library_links a{
		width: max(6vw, 80px);
		height: max(10vw, 160px);
		border-radius: 20%;
		background-color: #802BB1;
	}

	.library_links img{
		width: max(2vw, 60px);
		height: max(2vw, 60px);
		margin-top: max(1vw, 20px);
		border-radius: 50%;
	}

	.library_links h6{
		margin: -1px 0 0 0;
	}

.features_article{
	display: flex;
	flex-direction: row;
	height: 100vh;
	padding: 5vh 15vh;
	background-color: #564F6F;
}

.about_article{
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 5vh 15vh;
	background-color: #222629;
}
/*/////////////////////////////////////////////*/
/*///////////Music Library Page////////////////*/
/*/////////////////////////////////////////////*/

.library_nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 20vh;
	background-color: #564F6F;
}

.library_nav a{
	padding: 1vw 4vw;
	background-color: #802BB1;
	border-radius: 25px;
	border: none;
	font-size: var(--h5);
	color: #D1D7E0;
}

.library_nav a:hover{
	background-color: #D1D7E0;
	font-size: var(--h5);
	color: #222629;
}

.library_list{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	background-color: #222629;
}

	.library_list a{
		margin: 4vh 4vw;
		color: #D1D7E0;
	}

.library_tile{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: max(20vw, 320px);
	height: max(20vw, 320px);
	border-radius: 20%;
	background-color: #802BB1;
}

	.library_tile img{
		width: max(5vw, 120px);
		height: max(5vw, 120px);
		margin-top: max(2vw, 80px);
		border-radius: 50%;
	}

	.library_tile h4{
		margin: -1px 4vw 0 4vw;
		text-align: center;
	}

/*////////////////////////////////////*/
/*///////////Game Page////////////////*/
/*////////////////////////////////////*/

.game_options{
	display: flex;
	justify-content: space-between;
	height: 5vh;
	background-color: #D1D7E0;
	color: #000000;
}

	.game_options button{
		width: max(5vh, 45px);
		height: max(5vh, 45px);
		font-size: var(--h6);
		outline: none;
		cursor: pointer;
		background-color: #FFFFFF;
		border-radius: 50%;
		border: 2px solid #000000;
		color: #222629;
	}

	.game_options button:hover{
		background-color: #802BB1;
		color: #D1D7E0;
	}

.notation_text{
	padding: 0 2vw;
	height: 12vh;
	overflow-y: scroll;
	background-color: #D1D7E0;
	color: #000000;
	display: block
}

#gameState_window{
	position: fixed;
	visibility: hidden;

}

canvas{
	z-index: 10;
	display: block
}