<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Michal Pruszkowski">
    <meta name="description" content="Klavier - virtual piano game for web browsers.">
    <meta name="keywords" content="klavier, virtual, piano, web, browser, free, learning, practice">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="robots" content="all">
	<title>Klavier Web App</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
<main class="home_container">

	<section class="home_header">
		<h1>Klavier - Virtual Piano Web App</h1>
		<img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo image">
		<nav class="home_nav">
			<a href="#home_article_1">What Is Klavier</a>
			<a href="#home_article_2">How To Play</a>
			<a href="#home_article_3">About</a>
		</nav>
	</section>

	<article class="introduction_article" id="home_article_1">
		<section>
			<h2>What Is Klavier?</h2>
			<p>Klavier is an virtual piano application that simulates piano sounds in your web browser! Use your computer keyboard as you would play a real piano. Each key have an assigned piano sound to it which will make you feel like a real pianist.</p>

			<p>You do not need to know how to read complex music notes, as this app will show you which note to play, when to play it and for how long. Simply follow the falling <b>note blocks</b> on your screen and start playing!
			</p>

			<br>
			<a href="{{url_for('game_screen', pieceID = False)}}">Play Now</a>
		</section>

		<section>
			<img src="{{url_for('static', filename='images/piano.jpg')}}" alt="piano image">
		</section>
	</article>

	<article class="features_article" id="home_article_2">
		<section>
			<h2>Easy To Play</h2>
			<p>Go to our library where you can choose among variety of music pieces that we have to offer. Simply klick on the piece that interest you and you will be redirected to game screen. There you will see a piano keyboard at the bottom and key notes hints at the top. You will also find option buttons at the top of the screen – exit button on the right, and restart button on the left. To play black key notes simply press shift plus appropriate key on your keyboard.</p>

			<p>The main part of the screen is reserved for notes that will show you which key you should press. They will start falling from the top. Try to press the correspondent key as soon as a <b>note block</b> will touch to bottom of the screen. To help you with your hands cooperation, the falling note blocks are coloured in green and blue. Each colour will tell you which hand you should use to press a specific key.</p>

			<p>Good luck!</p>
			
			<br>
			<a href="{{url_for('music_library', category = 'classic')}}">Browse Now</a>
		</section>

		<section class="library_links">
			<a href="{{url_for('game_screen', pieceID = 5)}}">
				<div>
					<img src="{{ url_for('static', filename='images/piece_placeholder.png') }}" alt="piece_placeholder">
					<h6>Greensleeves</h6>
				</div>
			</a>

			<a href="{{url_for('game_screen', pieceID = 4)}}">
				<div>
					<img src="{{ url_for('static', filename='images/piece_placeholder.png') }}" alt="piece_placeholder">
					<h6>God Save The Queen</h6>
				</div>
			</a>

			<a href="{{url_for('game_screen', pieceID = 11)}}">
				<div>
					<img src="{{ url_for('static', filename='images/piece_placeholder.png') }}" alt="piece_placeholder">
					<h6>Will of The Heart</h6>
				</div>
			</a>
		</section>
	</article>

	<article class="about_article" id="home_article_3">
		<h2>About This App</h2>
		<p>Klavier App is a browser game that will help you in taking first steps into learning to play the piano using  falling block notes.</p>

		<p>Klavier gives you a unique possibility to experience how it is to be a pianist without the need of learning complex music notation and practicing few hours a day. This app is ideal for both beginners and experienced pianist. No matter what you would like to achieve, this app will certainly help you in achieving your goal.</p>

		<p>You can start playing a song straight away which is a great motivation boost to stick around and get more familiar with piano sounds. The fact that this is a browser game means that you do not need to install anything on your computer. Just visit Klavier App main page from your browser and you can start practicing for free!</p>
	</article>

	<footer>
		<p>Klavier is an educational project for Napier University's course: Web Design and Development. All digital media used for this project WERE NOT and WILL NOT be used for any other purposes than education.
		<br>
		<b>Klavier author: Michal Pruszkowski, 3rd year student - Napier University</b>
	</footer>
</main>
</body>
</html>